article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

body {
  background: #fafafa;
  font-size: 1.6rem; }

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto; }

.title {
  font-size: 5.5rem;
  font-family: "Poppins", sans-serif;
  color: #ea4136;
  margin: 0; }

p {
  padding: 0 5%; }

.mainHeader {
  text-align: center;
  background: #fafafa;
  height: 90vh;
  padding-top: 15%; }
  .mainHeader .introCopy {
    margin-top: 0; }
  .mainHeader .introCopy,
  .mainHeader form {
    font-size: 1.8rem;
    font-family: "Lato", sans-serif;
    display: block;
    margin: 5% 0; }
    .mainHeader .introCopy label,
    .mainHeader form label {
      font-weight: 700; }

.searchField {
  width: 100%;
  margin: 5% 0 10% 0;
  border: none;
  border-bottom: 2px solid #ea4136;
  font-style: italic;
  text-align: center;
  background: #fafafa;
  padding: 5px; }

.button, a.button {
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #ea4136;
  background: #fafafa;
  color: #ea4136;
  padding: 5px;
  width: 100%;
  min-width: 161px;
  transition: background 0.3s, color 0.3s; }
  .button:hover,
  .button :focus {
    color: #fafafa;
    background: #ea4136; }

.descriptionButton, .returnButton {
  min-width: 161px;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #ea4136;
  background: #fafafa;
  color: #ea4136;
  padding: 5px;
  width: 70%;
  transition: background 0.3s, color 0.3s; }

a.button {
  width: 161px;
  color: #ea4136;
  text-decoration: none;
  background: none;
  text-align: center;
  display: block;
  margin: 0 auto 5% auto; }
  a.button:hover,
  a.button :focus {
    color: #fafafa;
    background: #ea4136; }

.resultContainer {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem; }
  .resultContainer h2 {
    text-align: center; }
  .resultContainer h3 {
    height: 30px;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    text-align: center;
    position: absolute;
    color: #ea4136;
    background: #fafafa;
    width: 161px;
    top: -32px;
    left: 50%;
    padding: 0 10px;
    transform: translateX(-50%); }
  .resultContainer .borderAccent {
    border: 2px solid #ea4136;
    position: relative;
    padding: 2em;
    margin: 3% 0; }
    .resultContainer .borderAccent .chartTitle {
      top: -5%;
      margin: 0;
      display: none; }
  .resultContainer .bookHero {
    width: 100%;
    height: 90vh;
    background: #fafafa;
    position: relative;
    z-index: 1;
    perspective: 1000px; }
  .resultContainer span {
    color: #ea4136; }
  .resultContainer .card {
    width: 98%;
    height: 78vh;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
    text-align: center; }
  .resultContainer .flipper .card {
    transform: rotateY(180deg); }
  .resultContainer .noFlipper {
    transform: rotateY(0deg); }
  .resultContainer .front {
    position: relative;
    padding: 30px;
    background: #e0e2e2;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 1px 1px #aaa9a9, 2px 2px white, 3px 3px #aaa9a9, 4px 4px white, 5px 5px #aaa9a9, 6px 6px white, 7px 7px #aaa9a9, 8px 8px white, 9px 9px #aaa9a9, 10px 10px white, 11px 11px #aaa9a9, 12px 12px white, 13px 13px #aaa9a9, 14px 14px white, 15px 15px #aaa9a9, 16px 16px white, 17px 17px #aaa9a9; }
  .resultContainer .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid #838383;
    background-image: linear-gradient(to top, #8f8f8f80, white); }
  .resultContainer .back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    color: black;
    text-align: center;
    background-color: #aaa;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: -1px 1px #aaa9a9, -2px 2px white, -3px 3px #aaa9a9, -4px 4px white, -5px 5px #aaa9a9, -6px 6px white, -7px 7px #aaa9a9, -8px 8px white, -9px 9px #aaa9a9, -10px 10px white, -11px 11px #aaa9a9, -12px 12px white, -13px 13px #aaa9a9, -14px 14px white, -15px 15px #aaa9a9, -16px 16px white, -17px 17px #aaa9a9;
    overflow: scroll;
    overflow-x: hidden;
    height: 79vh; }
  .resultContainer .chartContainer {
    margin: 20% 0; }
  .resultContainer .talkScoreContainer {
    height: 100px; }
  .resultContainer .talkScore {
    cursor: pointer;
    display: block;
    margin: 10% auto 10% auto;
    background: #ea4136;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    color: #fafafa;
    font-weight: 700;
    font-size: 1.5rem;
    position: relative;
    transition: box-shadow 0.3s; }
    .resultContainer .talkScore .fa-question {
      pointer-events: none;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 65%;
      font-size: 1.3rem; }
    .resultContainer .talkScore:hover {
      box-shadow: 0px 0px 10px #ea4136; }
    .resultContainer .talkScore p {
      position: absolute;
      font-size: 1.7rem;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none; }
  .resultContainer .bookStats {
    text-align: left; }
    .resultContainer .bookStats h4 {
      text-transform: uppercase;
      font-size: 1.5rem;
      text-align: center;
      color: #ea4136;
      margin: 10px auto; }
    .resultContainer .bookStats p {
      margin: 0; }

.hidden {
  display: none; }

.show {
  display: block;
  height: auto;
  width: 90%;
  z-index: 5;
  background: #838383;
  color: white;
  border-radius: 15px;
  padding: 2rem;
  position: absolute;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.8);
  top: 0;
  left: 7%; }

footer {
  height: 10vh;
  background: #838383;
  color: #fafafa;
  font-weight: 700;
  text-align: center;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.7px;
  padding: 2% 0;
  width: 100%;
  font-size: 1.2rem; }
  footer span {
    color: #ea4136; }

@media only screen and (min-width: 450px) {
  form .searchField {
    width: 65%; }
  input.button {
    width: 65%; }
  a.button {
    width: 70%; }
  .bookStats {
    line-height: 1.8; } }

@media only screen and (min-width: 760px) {
  .resultContainer .bookHero {
    width: 48%;
    float: left; }
  .bookHero:first-of-type {
    border-right: none; }
  .title {
    font-size: 7rem; }
  form .searchField {
    width: 50%; }
  input.button {
    width: 20%;
    margin-left: 5%; }
  .resultContainer .talkScore {
    width: 85px;
    height: 85px; } }

@media only screen and (min-width: 900px) {
  .title {
    font-size: 9rem; } }

@media only screen and (min-width: 1080px) {
  .mainHeader .introCopy {
    font-size: 2rem; }
  .resultContainer .bookStats h4 {
    font-size: 1.7rem; } }
