article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


//COLOURS 
$accentColor: #ea4136;
$lightGrey: #e0e2e2;
$darkGrey: #838383;
$white: #fafafa;


//FONTS 
$titleFont: 'Poppins', sans-serif;
$text-font: 'Lato', sans-serif;

//BASE STYLES
html {
    font-size: 62.5%;    
}

body {
    background: $white;
}


//LAYOUT
.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}


//TYPOGRAPHY
.title {
    font-size: 5.5rem;
    font-family: $titleFont;
    color: $accentColor;
    margin: 0;
}

h3 {
    font-size: 1.8rem;
}

p {
    padding: 0 5%;
}

//HEADER
.mainHeader {
    text-align: center;
    background: $white;
    padding: 10px;
    height: 95vh;

    .introCopy {
        margin-top: 0;
    }


    .introCopy,
    form {
        font-size: 1.8rem;
        font-family: $text-font;
        display: block;

        label {
            font-weight: 700;
        } 
        .searchField {
            width: 75%;
            margin: 5% 0 10% 0;
            border: none;
            border-bottom: 2px solid $accentColor;
            font-style: italic;
            text-align: center;
            background: $white;
        }
    }
    form {
        margin: 5% 0;
    }

//BUTTON 
    .button {
        border: 2px solid $accentColor;
        background: $white;
        color: $accentColor;
        padding: 10px;
        width: 90%;
        transition: background 0.3s, color 0.3s;
        &:hover,
        :focus {
            color: $white;
            background: $accentColor;
        }
    }
}


//BOOK RESULTS
.resultContainer {
    width: 100%;
    font-family: $text-font;
    font-size: 1.5rem;

    .borderAccent {
        border: 2px solid $accentColor;
        position: relative;
        padding: 8%;
        margin: 8% 0;

        h2 {
            font-size: 1.8rem;
            text-align: center;
            position: absolute; 
            background: $white;
            color: $accentColor;  
            top: -3%;
            left: 50%;
            padding: 0 10px;
            transform: translateX(-50%);
        }

        .chartTitle {
            top: -5%;
            margin: 0;
        }
    }

    .bookHero {
        width: 50%;
        height: auto;
        background: $white;
        position: relative;
        z-index: 1;
        perspective: 1000px;  
        cursor: pointer;
    }

    .highNovel{
        float: left;
    }

    .lowNovel{
        float: right;
    }

    .card {
        width: 100%;
        height: 900px;
        transform-style: preserve-3d;
        transition: all 1.0s linear;
        text-align: center;
    }

    // .bookHero:hover .card {
    //   transform: rotateY(180deg);
    //   box-shadow: -5px 5px 5px #aaa;
    // }

    .flipper .card {
      transform: rotateY(180deg);
      box-shadow: -5px 5px 5px #aaa;
    }

    .noFlipper{
      transform: rotateY(0deg);
    }

    .front {
        padding: 30px;
    }

    .face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .face.back {
      display: block;
      transform: rotateY(180deg);
      box-sizing: border-box;
      color: $white;
      text-align: center;
      background-color: #aaa;
    }

    .chartContainer {
        margin: 20% 0;
    }


// TALK SCORE ICONOGRAPHY
    .talkScore {
        margin: 0 auto;
        background: $accentColor;
        width: 85px;
        height: 85px;
        border-radius: 50%;
        color: $white;
        font-weight: 700;
        font-size: 1.5rem;
        position: relative;
        p {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .bookStats {
        padding: 2% 0;
    }
   
}


//FOOTER
footer {
    background:$darkGrey;
    color: $white;
    font-weight: 700;
    text-align: center;
    font-family: $text-font;
    letter-spacing: 1.7px;
    padding: 2% 0;
       
    span {
        color: $accentColor;
    }
}